@import 'nib'

$red = #FC5B3F
$green = #6FB07F
$orange = #FCB03C
$dark_blue = #002B36
$success = rgba(41, 108, 28, 0.5)

body
  font-family: 'Lato', sans-serif
  font-weight: 200

.container
  width: 100%

.navbar
  background: transparent
  border: none
  min-height: 25px

.header
  text-align: center
  font-size: 60px
  padding-top: 50px
  margin-bottom: 20px
  border-bottom: 2px solid #e0e0e0
  color: $dark_blue

.middle
  margin: 0 auto
  max-width: 1000px

#output
  display: none
  margin: 0 auto
  padding-top: 5px

  h3
    text-align: center

    a
      margin-left: 15px

      span
        font-size: 24px

  button
    width: 400px
    text-align: center

    i
      display: none
      margin-right: 5px

  #github-version
    margin-left: 5px

  pre
    display: none
    max-height: 400px

.projects
  text-align: left


  h2
    color: $dark_blue
    font-size 18px

  .project
    width: 80%
    margin: 0 auto
    margin-bottom: 30px


    &:hover
      transition: all 0.5s
      background-color: #d8d8d8
      cursor: pointer

    &.disabled
      background-color: #d8d8d8
      cursor: not-allowed

    a
      &:hover
        text-decoration: none

    p
      margin: 0 0 5px 0

    span
      margin-top: 20px
      color: #859900


  .icon-container
    text-align: right
    height: 100px
    .fa
      margin-top: 15px

.navbar-fixed-bottom
  background: white

.red
  color: $red
.orange
  color: $orange
.green
  color: $green

.thin
  font-weight: 100


@media screen and (min-width: 768px)
  .projects
    column-count(3)
