{
  "extends": "webkom/legacy",
  "rules": {
    "vars-on-top": 0,
    "new-cap": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "io": false,
    "$": false,
    "moment": false,
    "ansi_up": false
  }
}
