@import 'nib'

$dark-gray = #222
$gray = lighten($dark-gray, 30%)
$light-gray = lighten($gray, 50%)
$purple = #5B527F
$white = #fafafa

html
  height 100%
  padding 0
  margin 0

body
  height 100%
  padding 0
  margin 0
  font-family 'Lato', sans-serif
  font-weight 100
  background $dark-gray
  color $white

h1, h2, h3, h4
  font-weight 100

.site-title
  font-weight 100
  text-align center
  font-size 3.5em

  h2
    margin-bottom 0.2em

.project
  padding 0.4em
  cursor pointer

  .mega-octicon
    margin 0 0.6em
    float left

  h2
    margin-bottom 0.2em

  .meta
    margin 0 1.2em 1em 1.2em
    font-size 0.8em
    color $gray

    & > span
      margin 0.4em
      .octicon
        margin 0.2em

  &:hover
    transition all 1s
    background $gray

    .meta
      color $white

  &.selected
    transition all 0.5s
    background $light-gray
    color black

.project-details
  display none
  margin-top 2em

  h2
    font-size 2.5em
    margin: 0 2.5%
    margin-bottom 0

  .meta
    overflow hidden
    margin: 0 2.5%

    & > span
      margin 0.4em

      .octicon
        margin 0.2em

      &:first-child
        margin-left 0

  .buttons
    padding 4.5em 0 1em 0

  &.active
    display block

  pre
    width 95%
    margin 2.5%
    overflow-y scroll
    font-size 0.8em
    line-height 1.4em

.error
  margin-top 10em

  pre
    font-size 0.9

.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right

.pure-button
  &.purple
    background $purple

.login
  margin-top 10em

.form
  font-size 1.6em
  line-height 1.6em

  .form-group
    margin 0.8em 0

  .feedback
    margin 0 auto

  label
    margin-right 0.4em

  input
    background $dark-gray
    border none
    border-bottom 2px dashed $white
    color $white
    font-weight 100
    outline none

    &:focus
      border-bottom-color $gray

  button
    margin 1em
    font-size 0.8em
