extends layout

block content
  .projects.pure-u-1-5
    each project, name in projects
      .project(data-name="#{name}")
        span.mega-octicon.octicon-repo
        h2 #{name}

  .project-details.pure-u-3-5
    .meta
      h1.site-title chewie
      div.buttons
        a.pure-button#deploy-button
          i.fa.fa-spinner.fa-spin
          span
    pre
      code.output
